.main{
            height: 30px;
        }

        #markers{
            position: relative;
            left: 10px;
            height: 30px;
        }

        #tags{
            position: relative;
            left: 15px;
            height: 30px;
        }

        #status{
            position: relative;
            left: 20px;
            height: 30px;
        }

        #csvd{
            position: relative;
            left: 25px;
            height: 30px;
        }

        .detail{
            position: relative;
            top: -35px;
            height: 10px;
        }

        #radius{
            position: relative;
            left: 20px;
            height: 25px;
        }

        #drawcircle{
            position: relative;
            left: 20px;
            height: 30px;
        }
