<!DOCTYPE html>
<html>
  <head>
    <style type="text/css">
        html, body, #map-canvas { height: 100%; margin: 0; padding: 0;}
        .main{
            height: 30px;
        }

        #markers{
            position: relative;
            left: 10px;
            height: 30px;
        }

        #questions{
            position: relative;
            left: 15px;
            height: 30px;
        }

        #status{
            position: relative;
            left: 20px;
            height: 30px;
        }

        #csvd{
            position: relative;
            left: 25px;
            height: 30px;
        }
    </style>
    <script type="text/javascript"
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBC6iT-puLTUEIjE_H_KkoQLFohgT_Z3Hs">
    </script>
    
    <script>
    var locations = [{% for item in data %} [{{item[0]}}, {{item[1]}}] , {% endfor %} [0, 0]];
    var details = [{% for item in extra %} ['{{item[0]}}', '{{item[1]}}', '{{item[2]}}', '{{item[3]}}'], {% endfor %} [0, 0]];
    var questions = [ {% for item in q %} [{% for question in item %} '{{question}}', {% endfor %} null], {% endfor %} null];
    var statusAll = [{% for item in s %} [{% for question in item %} '{{question}}', {% endfor %} null], {% endfor %} null];
    var brands = [{% for item in b %} '{{item}}', {%endfor%} null];

    var urls = ["http://i.stack.imgur.com/cdiAE.png", "http://i.stack.imgur.com/rU427.png", "http://i.stack.imgur.com/EVb1C.png", "http://i.stack.imgur.com/5ggMx.png"];
    var first;
    var second;
    var marker = [];

    function downloadcsv(){
        var csvContent = "data:text/csv;charset=utf-8,";

        csvContent += "Gender,Operator,State,City,Brands Like,Latitude,Longitude,Question, Status\n";
        for(i=0; i<details.length-1;i++){
            dataString = details[i].join(",") +",\""+ brands[i]+ "\","+ locations[i][0]+ ","+ locations[i][1] +", \""+ questions[i].join(",") +"\", \""+ statusAll[i].join(",")+"\"";
            csvContent += i < details.length-1 ? dataString+ "\n": dataString; 
        }
        
        var encodedUri = encodeURI(csvContent);
        var link = document.createElement("a");
        link.setAttribute("href", encodedUri);
        link.setAttribute("download", "data.csv");

        link.click();
    }

    function initialize() {

        var map = new google.maps.Map(document.getElementById('map-canvas'), {
            zoom: 5,
            center: new google.maps.LatLng(locations[0][0], locations[0][1]),
            mapTypeId: google.maps.MapTypeId.ROADMAP
        });

        var infowindow = new google.maps.InfoWindow();

        var i, icon;

        for (i = 0; i < (locations.length)-1; i++) {  

            (function(i, total){
                marker[i] = new google.maps.Marker({
                    position: new google.maps.LatLng(total[i][0], total[i][1]),
                    map: map,
                    animation: google.maps.Animation.DROP,
                    title: details[i][0]+" "+details[i][1]+" in "+details[i][3]
                });

                google.maps.event.addListener(marker, 'click', (function(marker, i) {
                    return function() {
                        document.getElementById("marker").selectedIndex = i;
                    }
                })(marker[i], i));
            })(i, locations);
            statusAll[i].pop();
        }
    }

    function markerf(mar, ques){

        // console.log(mar.value);
        first = parseInt(mar.value);
        second = 0;
        switch(mar.value){
            {% set i=0 %}
            {% for loc in data %}
            case '{{i}}':
                ques.options.length = 0;
                for(i=0; i<(questions[{{i}}].length)-1; i++){
                    addQuestion(ques, questions[{{i}}][i], {{i}}, i);
                    // console.log(i);
                }
                break;
            {% set i=i+1 %}
            {% endfor %}

            default:
                ques.options.length = 0;
                // console.log("Bakchodi !!");
            break;
        }
    }
        
    function addQuestion(ddl, text, value, i) {
        var opt = document.createElement('option');
        opt.value = value+","+ i;
        opt.text = text;
        ddl.options.add(opt);
    }

    function question(mar, ques){
        var indexes = mar.value.split(",");
        var locl = statusAll[parseInt(indexes[0])][parseInt(indexes[1])];
        console.log(locl);

        switch(locl){
            case "unsolved":
                ques.selectedIndex = "0";
                second = 0;
                break;
            case "solved":
                ques.selectedIndex = "1";
                second = 1;
                break;
            case "not apply":
                ques.selectedIndex = "2";
                second = 3;
                break;
            case "unsolvable":
                ques.selectedIndex = "3";
                second = 4;
                break;
            default :
                console.log("LOLOLOL");
                break;
        }
    }

    function status(xxx){
        switch(xxx.value){
            case "0":
                marker[first].setIcon(urls[0]);
                statusAll[first][second] = "unsolved";
                break;
            case "1":
                marker[first].setIcon(urls[1]);
                statusAll[first][second] = "solved";
                break;
            case "2":
                marker[first].setIcon(urls[2]);
                statusAll[first][second] = "not apply";
                break;
            case "3":
                marker[first].setIcon(urls[3]);
                statusAll[first][second] = "unsolvable";
                break;
        }
    }

    google.maps.event.addDomListener(window, 'load', initialize);

    </script>
    </head>
    
    <body>
        <div class="main">
            <select id="markers" onchange="markerf(this, document.getElementById('questions'))">
            {% set i=0 %}
            {% for item in data %}
              <option value="{{i}}">{{extra[i][0]+" "+extra[i][1]+" in "+extra[i][2]}}</option>
            {% set i=i+1 %}
            {% endfor %}
            </select>

            <select id="questions" onchange="question(this, document.getElementById('status'))">

            </select>

            <select id="status" onchange="status(this)">
              <option value="0">Unsolved</option>
              <option value="1">Solved</option>
              <option value="2">Not Apply</option>
              <option value="3">Unsolvable</option>
            </select>

            <button id="csvd" onclick="downloadcsv()">
                Download
            </button>
        </div>
        <div id="map-canvas"></div>
    </body>
</html>
