<!DOCTYPE html>
<html>
  <head>
    <style type="text/css">
        html, body, #map-canvas { height: 100%; margin: 0; padding: 0;}
    </style>

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/home.css')}}">
    <script type="text/javascript"
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBC6iT-puLTUEIjE_H_KkoQLFohgT_Z3Hs">
    </script>
    <script src="{{ url_for('static', filename='js/jquery.js')}}"></script>
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script src="{{ url_for('static', filename='js/drawer.js')}}"></script>
    <script src="{{ url_for('static', filename='js/functions.js')}}"></script>
    <script>
    var locations = [{% for item in data.coordinates %} [{{item[0]}}, {{item[1]}}] , {% endfor %} [0, 0]];
    var city = [{{ data.city|join(',')|safe }}];
    // var tags = ["{{ data.tags|join('","')|safe }}"];
    var tags = ["Gender","Operator","Brands Like"];
    var operator = ["{{ data.operator|join('","')|safe }}"];
    var gender = ["{{ data.gender|join('","')|safe }}"];

    var urls = ["http://i.stack.imgur.com/cdiAE.png", "http://i.stack.imgur.com/rU427.png", "http://i.stack.imgur.com/EVb1C.png", "http://i.stack.imgur.com/5ggMx.png"];
    var colors = ["RED", "GREEN", "YELLOW","BLUE"];
    var first, map, second, marker = [], indexes = [], cityCircle;

    google.maps.event.addDomListener(window, 'load', initialize);
    google.load("visualization", "1", {packages:["corechart"]});
    </script>
    </head>
    
    <body>
        <div class="main">
            <select id="markers" onchange="markerf(this, document.getElementById('tags'))">
            {% set i=0 %}
            {% for item in data.city %}
                <option value="{{i}}">{{data.city[i][0]}}, {{data.city[i][1]}}</option>
            {% set i=i+1 %}
            {% endfor %}
            </select>

            <select id="tags" onchange="tagfunc(this, document.getElementById('status'))">
            {% set i=0 %}
            {% for item in data.tags %}
                <option value="{{i}}">{{item}}</option>
            {% set i=i+1 %}
            {% endfor %}
            </select>

            <input type="text" name="radius in km" placeholder="radius" id="radius">
            <button id="drawcircle" onclick="circleOnMap()">Draw</button>
        </div>

        <div class="detail">
                <table id="gender">
                    <tr>
                        <td><img src="http://i.stack.imgur.com/cdiAE.png"></td>
                        <td>Male</td>
                        <td><img src="http://i.stack.imgur.com/rU427.png"></td>
                        <td>Female</td>
                    </tr>
                </table>

                <table id="operator">
                    <tr>
                        <td><img src="http://i.stack.imgur.com/cdiAE.png"></td>
                        <td>Airtel</td>
                        <td><img src="http://i.stack.imgur.com/rU427.png"></td>
                        <td>Idea</td>
                        <td><img src="http://i.stack.imgur.com/EVb1C.png"></td>
                        <td>Vodafone</td>
                    </tr>
                </table>

            </div>

        <div id="map-canvas"></div>
    </body>
</html>
